.Home_main_bg{
    padding: 40px 0px;
    background-image: url(../Assets/index.svg);
    background-position: 100% 0;
}

.home_h2{
    font-size: 60px;
    color: #fff;
}
.home_pa{
    display: inline-block;
    font-size: 40px;
    margin-top: 0px;
    border: 1px solid #ffffff69;
    background: #350b2d;
    color: #fff;
    margin: 10px;
    padding: 3px 12px;
}


.home_sub_h{
    display: inline-block;
    color: #fff;
    font-size: 50px;
    margin-bottom: 15px;
}

.how-item {
    text-align: center;
    padding: 0 25px;
    position: relative;
}
.how-item::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 0;
    border: 1px dashed rgba(255, 200, 39, 0.7);
    top: 60px;
}
.how-item__thumb {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -4.828px -4.828px 12px 0px rgb(255 200 39 / 40%), 3px 5px 15px 0px rgb(255 82 1 / 20%);
}
.how-item__thumb {
    width: 120px;
    height: 120px;
    background: #350b2d;
    border-radius: 50%;
    font-size: 46px;
    margin: 0 auto 30px;
    position: relative;
}

.how-item__thumb:hover{
    background: linear-gradient(0deg, #ff9c19 40%, #ffdd2d 110%) !important; 
}
.badge.badge--round {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 7px;
    line-height: 0.75;
    font-size: 14px;
    font-weight: 500;
}
.how-item__thumb .badge {
    position: absolute;
    right: -10px;
    top: 10px;
    width: 30px;
    height: 30px;
    color: #1f1f23 !important;
}
.how-item__thumb .badge, .investor-item .amount, .winner-item .amount {
    background: linear-gradient(0deg, #ff9c19 40%, #ffdd2d 110%);
}
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
.PZmzo, .kOVBQR {
    background-color: #332737 !important;
    box-shadow: none !important;
    opacity: 1 !important;
}