body {
}

.farm_home{}
.farm_home a {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

/*----container set custom end===---*/

/*----farming page css start===---*/
.farming_content {
    text-align: center;
    border: 1px solid #ffffff85;
    color: #fff;
    margin: 3rem 0 0 0;
    background: #3e0064;
    padding: 0px 15px 0px 15px;
    border-radius: 7px;
    box-shadow: 2px 2px 2px 2px rgb(97 96 98 / 51%), inset -2px -2px 6px rgb(0 0 0 / 34%);
}
.farming_content img {
    margin:0 auto;
}
.farm_content{
    
}
.farm_log_set{
    position:relative;
    right:6px;
}
.farm_content h1 {
    font-size: 27px;
}
.farm_content p {
    margin-bottom: 2px !important;
}
.farm_serv_box{
    color:#fff;
    min-height:250px;
}
.farm_serv_box .farm_coins {
    display:flex;
}
.farm_serv_box .farm_coins img {
    height:50px;
}
.farm_icons{
    display:flex;
    justify-content:space-between;
}
.farm_flex_set{
    display:flex;
    padding-top: 7px;
}
.farm_heading {
}
.farm_heading h2 {
    font-size: 17px;
    font-weight: 500;
    margin-bottom:8px !important;
}
.farm_logo_group{
    display:flex;
}
.farm_logo_group img {
    height:17px;
}

.farm_capital .farm_rate span {
    font-weight:600;
}
.farm_capital {
}
.farm_heading .farm_logo {
    font-size:13px;
    line-height:14px;
}
.farm_heading .farm_logo span {
    font-weight: 600;
    padding-right: 3px;
    font-size:14px;
}
.farm_heading .farm_logo span b {
    background: #a638e8;
    padding: 0px 8px;
    border-radius: 12px;
    font-size: 15px;
}

.farm_serv_box {
    border: 1px solid #dccfef73 !important;
    border-radius: 7px;
    padding: 21px 20px;
    margin: 15px 0;
}
.total_farmed {
    display: flex;
    justify-content: space-between;
    margin: 12px 0;
    box-shadow: 0px 3px 7px -3px #a638e8;
    padding: 14px 12px;
}
.farm_bonus {
    margin: 12px 0;
    box-shadow: 0px 1px 7px -4px #e5e7e7;
    border: 1px solid #ffffff75;
    padding: 14px 12px;
}
.mt19{margin-top:19px;}
.farm_bonus .fram_name {
    margin-top: 5px;
}
.farm_bonus .fram_name p {
    margin-bottom: 0px !important;
    font-size: 21px;
    font-weight: 500;
}
.harvest{
    background-color: #6a0ea6;
    color: #fff;
}
.farm_bonus .fram_name h5 {
    margin-top: 3px;
    color: #e9ccfb;
}
.farm_bonus .fram_name p span{
    font-size:21px;
}
.staking_price {
    margin-top:18px;
}
.staking_price .farm_price {
    font-weight: 400;
    font-size: 17px;
}
.staking_price h2{
    font-size:18px;
    margin-bottom:2px !important;
}
.staking_price .farm_price span{
    font-weight:500;
}

.farming_rewards .farm_price {
    font-size:15px;
}

.farm_usd_set {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}
.farm_input{}
.farm_input input {
   margin: 7px 0;
    padding: 6px 7px;
    border-radius: 5px;
    border: 1px solid #3c3d3d;
    background: #6a0ea6;
    color: #fff !important;
    /*width:49%;*/
}
.farm_input input:focus{
    box-shadow:unset;
    outline:unset;
}
.farm_input input::placeholder {
    color:#eee;
}
.farm_usd_set p {
    margin-bottom: 0px !important;
    margin-top: 15px;
}
.farm_submit_btn {
    text-align:center;
    margin-top: 1rem;
}
.farm_submit_btn button {
    width: 78%;
    background: linear-gradient(90deg,#9113df,#6400ff)!important;
    padding: 14px 0;
    color: #fff !important;
    font-size: 18px !important;
    font-weight: 600;
}
.farm_submit_btn button:hover {
    color: #000;
    background: linear-gradient(315deg,#016eda,#d900c0)!important;
    border-color: rgb(215 202 236) !important;
}
@media(max-width:507px){
    .farm_submit_btn button {
        width: 50%;
        min-width: 188px;
    }
    .farm_input input {
        margin: 6px 0 6px 0;
    }
    .farm_submit_btn{
        margin-top:8px;
    }
}
.farm_submit_btn button:focus{
    box-shadow: unset;
    outline:unset;
    background-color: rgb(215 202 236) !important;
    border-color: rgb(215 202 236) !important;
}
.farm_ballance {
    display: flex;
    color: #fff;
    border: 2px solid #ffffff;
    border-radius: 5px;
    padding: 20px 20px;
}

.farm_ballance .farm_bal_img {
}
.farm_ballance .farm_bal_img img {
    height: 60px;
    padding-right: 18px;
}
.farm_ballance .farm_bal_digit {
}
.farm_ballance .farm_bal_digit h3 {
    margin-bottom: 8px !important;
    font-size:26px;
}
.farm_ballance .farm_bal_digit p {
    margin-bottom: 0 !important;
}
.mt40{}

.farm_walet {
    position: absolute;
    right: 0;
    top: 11px;
}
.farm_walet button{
}
.farm_walet button {
    background-image: linear-gradient(#a000fe, #aa4de1) !important;
    color: #fff !important;
    font-size: 18px !important;
    font-weight: 300 !important;
}
.farm_walet button:focus{
    outline:unset;
}
/*----farming page css end===---*/
/*----media query start===---*/
.farm_heading h2 {
}
@media(max-width:768px){
    .mt40 {
        margin-top: 40px;
    }
}
@media(max-width:380px){
    .farm_heading h2 {
        font-size:15px;
    }
    .farm_heading .farm_logo span b{
        font-size:11px;
    }
    .farm_heading .farm_logo span {
        font-size: 12px;
    }
    .farm_serv_box .farm_coins img {
        height: 35px;
    }
    .farm_logo_group img {
        height: 12px;
    }
}

/*----media query end===---*/
.poly_input{}
.poly_input input{
    width:105px;
}
.d_flex {
    display: flex;
    justify-content: space-between;
}
.set_checkbox{}
.set_checkbox input[type="checkbox"] {
    width:16px;
    height:16px;
}
.hrvst_font{
    font-size:21px !important;
}
/*----===connect to wallet css start====---*/
.swapbg10 {
    /* background: #f9f9f9; */
    border-radius: 35px;
    position: relative;
    min-height: 108px;
}

.overlay10 .closebtn {
    cursor: pointer;
}

.overlay10 .closebtn {
    top: 20px !important;
    font-size: 26px !important;
    right: 24px !important;
}

.wyswap {
}

.wyswap h3 {
    font-size: 17px;
}
.farm_popup_logo {
}
.farm_popup_logo img{
    height:41px;
}
.farm_popup_title{}
    .farm_popup_title a {
        font-size: 17px !important;
        font-weight: 500;
    }
.toolbgset {
    box-shadow: 0 3px 10px -3px rgb(28 1 72);
    display: flex;
    justify-content: space-between;
    border-radius: 60px;
    padding: 10px 15px;
}

.overlay10 {
    width: 39%;
    display: none;
    position: absolute;
    z-index: 1;
    margin: 15px;
    top: 13%;
    left: 30%;
    background-color: #a62aef;
    border-radius: 35px;
    padding: 45px;
    /*box-shadow: 0px 0px 47px -18px rgb(255 253 255);*/
    color:#fff;
}
    .overlay10:hover {
        border: 1px solid #0426f7;
        -webkit-box-shadow: 0px 0px 15px 9px rgb(11 17 239 / 35%);
        -moz-box-shadow: 0px 0px 15px 9px rgb(11 17 239 / 35%);
        box-shadow: 0px 0px 15px 9px rgb(11 17 239 / 35%);
        transition: 0.5s;
    }

@media(max-width:768px) {
    .overlay10 {
        width: 64%;
        left: 17%;
        border-radius: 29px;
        padding: 29px 21px 14px 21px;
    }
    .tokenset {
        font-weight: 600;
        font-size: 17px;
    }
    .farm_walet button {
        font-size: 16px !important;
        font-weight: 300 !important;
        padding: 0px 7px !important;
    }
    .overlay10 .closebtn {
        top: 14px !important;
        right: 18px !important;
    }
}
@media(max-width:550px) {
    .overlay10 {
        width: 74%;
        left: 10%;
        padding: 20px 21px 4px 21px;
        border-radius:21px;
    }
    .farm_popup_title a {
        font-size: 15px !important;
        font-weight: 500;
    }
    .toolbgset {
        padding: 7px 16px;
    }
    .trnlink span {
        font-size: 13px;
    }
    .trnlink a{
        font-size:13px;
    }
    .overlay10 .closebtn {
        top: 13px !important;
        right: 12px !important;
    }
    .farm_content h1 {
        font-size: 26px;
    }
}
@media(max-width:424px) {
    .overlay10 {
        width: 80%;
        left: 6%;
        top: 7%;
        padding: 14px 17px 0px 17px;
        border-radius: 20px;
    }
    .overlay10 .closebtn {
        top: 7px !important;
        right: 11px !important;
    }
}
@media(max-width:386px) {
    .overlay10 {
        width: 80%;
        left: 6%;
        top: 7%;
        padding: 14px 17px 0px 17px;
        border-radius: 20px;
    }
    .overlay10-content {
        margin-top: 32px;
    }
    .overlay10 .closebtn {
        top: 3px !important;
        right: 6px !important;
    }
    .trnlink span {
        font-size: 12px !important;
    }
    .trnlink a {
        font-size: 12px !important;
    }
}

.overlay10-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 47px;
}

.overlay10 a {
    padding: 8px;
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay10 a:hover, .overlay10 a:focus {
    color: #fff;
}

.overlay10 .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #000 !important;
    font-weight: 600;
    font-size: 31px !important;
}

.overlay10 .closebtn {
    cursor: pointer;
}
.trnlink{
    display:flex;
    padding-top:1rem;
}
.trnlink span {
    font-size: 15px;
    font-weight: 500;
}
.trnlink a {
    padding: 0;
    padding-left: 5px;
    font-size: 15px;
    color: #fbf52d;
    font-weight: 700;
    text-decoration: underline !important;
}
.tokenset{
    font-weight:600;
}
/*----===connect to wallet css end====---*/

/*----===select mono wallet css start====---*/
.swapbg11 {
    /* background: #f9f9f9; */
    border-radius: 35px;
    position: relative;
    min-height: 108px;
}

.overlay11 .closebtn {
    cursor: pointer;
}

.overlay11 .closebtn {
    top: 11px !important;
    font-size: 26px !important;
    right: 24px !important;
}


.wyswap h3 {
    font-size: 17px;
}
.farm_popup_logo img{
    height:41px;
}
.farm_popup_title{}
    .farm_popup_title a {
        font-size: 17px !important;
        font-weight: 500;
    }
.toolbgset2 {
    box-shadow: 0 3px 10px -3px rgb(28 1 72);
    display: flex;
    justify-content: space-between;
    border-radius: 60px;
    padding: 6px 15px;
    margin-bottom:16px;
}

.overlay11 {
    width: 29%;
    display: none;
    position: fixed;
    z-index: 1;
    margin: 15px;
    top: 10%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #a62aef;
    border-radius: 35px;
    padding: 28px 45px;
    /* box-shadow: 0px 0px 47px -18px rgb(255 253 255); */
    color: #fff;
}
    .overlay11:hover {
        /*border: 1px solid #0426f7;*/
        -webkit-box-shadow: 0px 0px 15px 9px rgb(11 17 239 / 35%);
        -moz-box-shadow: 0px 0px 15px 9px rgb(11 17 239 / 35%);
        box-shadow: 0px 0px 15px 9px rgb(11 17 239 / 35%);
        transition: 0.5s;
    }

@media(max-width:768px) {
    .overlay11 {
        width: 79%;
        border-radius: 29px;
        padding: 29px 21px 14px 21px;
    }
    .tokenset {
        font-weight: 600;
        font-size: 17px;
    }
    .farm_walet button {
        font-size: 16px !important;
        font-weight: 300 !important;
        padding: 0px 7px !important;
    }
    .overlay10 .closebtn {
        top: 14px !important;
        right: 18px !important;
    }
}
@media(max-width:550px) {
 
    .farm_popup_title a {
        font-size: 15px !important;
        font-weight: 500;
    }
    .toolbgset2 {
        padding: 7px 16px;
    }
    .trnlink span {
        font-size: 13px;
    }
    .trnlink a{
        font-size:13px;
    }
    .overlay11 .closebtn {
        top: 13px !important;
        right: 12px !important;
    }
    .farm_content h1 {
        font-size: 26px;
    }
}

@media(max-width:386px) {

    .overlay10-content {
        margin-top: 32px;
    }

    .trnlink span {
        font-size: 12px !important;
    }
    .trnlink a {
        font-size: 12px !important;
    }
}

.overlay11-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 27px;
}
.overlay11 a {
    padding: 8px;
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay11 a:hover, .overlay11 a:focus {
    color: #fff;
}


.overlay11 .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #000 !important;
    font-weight: 600;
    font-size: 31px !important;
}

.overlay11 .closebtn {
    cursor: pointer;
}
.trnlink{
    display:flex;
    padding-top:1rem;
}
.trnlink span {
    font-size: 15px;
    font-weight: 500;
}
.trnlink a {
    padding: 0;
    padding-left: 5px;
    font-size: 15px;
    color: #fbf52d;
    font-weight: 700;
    text-decoration: underline !important;
}
.tokenset2{
    font-weight:600;
    font-size:19px;
}
/*----===select mono wallet css end====---*/

/*----===select mono wallet css start====---*/
.swapbg12 {
    /* background: #f9f9f9; */
    border-radius: 35px;
    position: relative;
    min-height: 108px;
}

.overlay12 .closebtn {
    cursor: pointer;
}

.overlay12 .closebtn {
    top: 34px !important;
    font-size: 26px !important;
    right: 24px !important;
}

.wyswap h3 {
    font-size: 17px;
}

.farm_popup_logo img {
    height: 41px;
}

.farm_popup_title {
}

    .farm_popup_title a {
        font-size: 17px !important;
        font-weight: 500;
    }

.toolbgset2 {
    box-shadow: 0 3px 10px -3px rgb(28 1 72);
    display: flex;
    justify-content: space-between;
    border-radius: 60px;
    padding: 6px 15px;
    margin-bottom: 16px;
}

.overlay12 {
    width: 29%;
    display: none;
    position: fixed;
    z-index: 1;
    margin: 15px;
    top: 17%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #a62aef;
    border-radius: 35px;
    padding: 45px;
    /* box-shadow: 0px 0px 47px -18px rgb(255 253 255); */
    color: #fff;
}

    .overlay12:hover {
        /*border: 1px solid #0426f7;*/
        -webkit-box-shadow: 0px 0px 15px 9px rgb(11 17 239 / 35%);
        -moz-box-shadow: 0px 0px 15px 9px rgb(11 17 239 / 35%);
        box-shadow: 0px 0px 15px 9px rgb(11 17 239 / 35%);
        transition: 0.5s;
    }

@media(max-width:768px) {
    .overlay12 {
        width: 79%;
        border-radius: 29px;
        padding: 29px 21px 14px 21px;
    }

    .tokenset {
        font-weight: 600;
        font-size: 17px;
    }

    .farm_walet button {
        font-size: 16px !important;
        font-weight: 300 !important;
        padding: 0px 7px !important;
    }

    .overlay12 .closebtn {
        top: 14px !important;
        right: 18px !important;
    }
}

@media(max-width:550px) {

    .farm_popup_title a {
        font-size: 15px !important;
        font-weight: 500;
    }

    .toolbgset2 {
        padding: 7px 16px;
    }

    .trnlink span {
        font-size: 13px;
    }

    .trnlink a {
        font-size: 13px;
    }

    .overlay12 .closebtn {
        top: 13px !important;
        right: 12px !important;
    }

    .farm_content h1 {
        font-size: 26px;
    }
}

@media(max-width:386px) {

    .overlay12-content {
        margin-top: 32px;
    }

    .trnlink span {
        font-size: 12px !important;
    }

    .trnlink a {
        font-size: 12px !important;
    }
}



.overlay12-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 47px;
}

.overlay12 a {
    padding: 8px;
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

    .overlay11 a:hover, .overlay11 a:focus {
        color: #fff;
    }


.overlay12 .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #000 !important;
    font-weight: 600;
    font-size: 31px !important;
}

.overlay12 .closebtn {
    cursor: pointer;
}

.trnlink {
    display: flex;
    padding-top: 1rem;
}

    .trnlink span {
        font-size: 15px;
        font-weight: 500;
    }

    .trnlink a {
        padding: 0;
        padding-left: 5px;
        font-size: 15px;
        color: #fbf52d;
        font-weight: 700;
        text-decoration: underline !important;
    }

.tokenset2 {
    font-weight: 600;
    font-size: 19px;
}
/*----===select mono wallet css end====---*/

/*----===select mono wallet css start====---*/
.swapbg13 {
    /* background: #f9f9f9; */
    border-radius: 35px;
    position: relative;
    min-height: 108px;
}

.overlay13 .closebtn {
    cursor: pointer;
}

.overlay13 .closebtn {
    top: 34px !important;
    font-size: 26px !important;
    right: 24px !important;
}


.wyswap h3 {
    font-size: 17px;
}
.farm_popup_logo img{
    height:41px;
}
.farm_popup_title{}
    .farm_popup_title a {
        font-size: 17px !important;
        font-weight: 500;
    }
.toolbgset2 {
    box-shadow: 0 3px 10px -3px rgb(28 1 72);
    display: flex;
    justify-content: space-between;
    border-radius: 60px;
    padding: 6px 15px;
    margin-bottom:16px;
}

.overlay13 {
    width: 29%;
    display: none;
    position: fixed;
    z-index: 1;
    margin: 15px;
    top: 17%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #a62aef;
    border-radius: 35px;
    padding: 45px;
    /* box-shadow: 0px 0px 47px -18px rgb(255 253 255); */
    color: #fff;
}
    .overlay13:hover {
        /*border: 1px solid #0426f7;*/
        -webkit-box-shadow: 0px 0px 15px 9px rgb(11 17 239 / 35%);
        -moz-box-shadow: 0px 0px 15px 9px rgb(11 17 239 / 35%);
        box-shadow: 0px 0px 15px 9px rgb(11 17 239 / 35%);
        transition: 0.5s;
    }

@media(max-width:768px) {
    .overlay13 {
        width: 79%;
        border-radius: 29px;
        padding: 29px 21px 14px 21px;
    }
    .tokenset {
        font-weight: 600;
        font-size: 17px;
    }
    .farm_walet button {
        font-size: 16px !important;
        font-weight: 300 !important;
        padding: 0px 7px !important;
    }
    .overlay13 .closebtn {
        top: 14px !important;
        right: 18px !important;
    }
}
@media(max-width:550px) {
 
    .farm_popup_title a {
        font-size: 15px !important;
        font-weight: 500;
    }
    .toolbgset2 {
        padding: 7px 16px;
    }
    .trnlink span {
        font-size: 13px;
    }
    .trnlink a{
        font-size:13px;
    }
    .overlay13 .closebtn {
        top: 13px !important;
        right: 12px !important;
    }
    .farm_content h1 {
        font-size: 26px;
    }
}

@media(max-width:386px) {

    .overlay13-content {
        margin-top: 32px;
    }

    .trnlink span {
        font-size: 12px !important;
    }
    .trnlink a {
        font-size: 12px !important;
    }
}



.overlay13-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 47px;
}

.overlay13 a {
    padding: 8px;
    text-decoration: none;
    font-size: 13px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.overlay13 a:hover, .overlay13 a:focus {
    color: #fff;
}


.overlay13 .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #000 !important;
    font-weight: 600;
    font-size: 31px !important;
}

.overlay13 .closebtn {
    cursor: pointer;
}
.trnlink{
    display:flex;
    padding-top:1rem;
}
.trnlink span {
    font-size: 15px;
    font-weight: 500;
}
.trnlink a {
    padding: 0;
    padding-left: 5px;
    font-size: 15px;
    color: #fbf52d;
    font-weight: 700;
    text-decoration: underline !important;
}
.tokenset2{
    font-weight:600;
    font-size:19px;
}
.farm_price span{font-size: 14px;}
/*----===select mono wallet css end====---*/

/*------===ule image animation start======---*/
.ule_animation {
    background-image: url('../../assets/image/logo.png');
    animation: animName 2s linear infinite;
    width: 30px;
    height: 30px;
    background-size:30px;
    position:relative;
    top:-5px;
}

@keyframes animName {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.farm_new_item {
        justify-content: center;
    margin: 12px 0;
    box-shadow: 0px 1px 7px -4px #e5e7e7;
    padding: 4px 12px;
    border: 1px solid #ffffff75;
}
.ule_img_height img {
    height: 30px !important;
    position: relative;
    top: -6px;

}
/*------===ule image animation end======---*/

.farm_history{
    margin: 1.5rem 0 3rem 0;
}
.hist_hd h2{
    text-align: center;
    color: #000;
    font-size: 18px;
    font-weight: 600;
}
.farm_history table {
    font-size: 15px;
    color: #fff;
}
.farm_history table td{
    padding: 0.2rem 0.75rem;
}