.brand img{
    width: 150px;
}

.gift{
    color: rgb(233, 44, 44) !important;
    border: 1.5px solid rgb(233, 44, 44) ;
    border-radius: 20px;
}

.gift2{
    color: rgb(233, 44, 44) ;
}

.gift3{
    margin-right: 0.5rem;
}

.work{
    margin-left: 15px;
}

.navbar-nav a{
    margin-left: 2px;
}

a{
    color: #e4e6eb;
    /* font-weight: bold; */
}
a:hover{
    color: #e4e6eb;
    /* font-weight: bold; */
    text-decoration: none;
}
.a-active{
    color: #343333 !important;
    border-bottom: 2px solid #9444af;
}
#collasible-nav-dropdown{
    background-color: transparent;
    color: #e4e6eb;
    font-weight: bold;
    margin: 0;
}
.dropdown-menu {
    background-color: #332737 ;
}

.menu{
    font-size: 10px;
    color: white !important;
}

.canvas{
    background-color: #231F26;
}

.canvas_body{
    text-align: center !important;
}

.hme{
    font-size: 25px;
    margin-right: 8px;
}

.brand2{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.brand2 img{
    width: 220px;
}


@media (min-width:801px) and (max-width:6000px) {
    .nev2{
        display: none;
    }
}

@media screen and (max-width:800px) {
    .nev{
        display: none;
    }
}