.white {
    color: white;
}




.Lp_f_main {
    padding: 40px 0px;

    background-image: url(../Assets/index.svg);
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.grp {
    display: flex;
    align-items: center;
}


.item {
    width: 170px;
    height: 170px;

    border-radius: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.iteem {
    width: 270px !important;
    height: 250px !important;
}

.para {
    font-size: 18px;
    /* line-height: 21.6px; */
    color: #fdfdfd !important;
    font-weight: 300;
    line-height: 1.7em;
    margin-bottom: 1rem;
    padding: 10px;
    text-align: left;
}

.rightt {
    margin-left: 40px;
}