.lgyrlz {
  background-color: transparent !important;
}
.hhFJlm,
.evumGo,
.hdoSbV {
  /* background-color: #161522 !important; */
  background-color: #fff !important;
  color: #000 !important;
}
.jnvoRm {
  color: #fff !important;
}
.gTcqlT {
  fill: #fff !important;
}
.hZVDbF {
  color: #fff !important;
}
.iGdKqv {
  border-color: #fff !important;
  box-shadow: none;
  color: #fff !important;
}
.heKKwK {
  border-color: #fff !important;
  box-shadow: none;
  color: #fff !important;
}
.eUyVkd,
.jibsak {
  background-color: #161522 !important;
  color: #fff !important;
}
.jFIScR {
  background-color: transparent;
  color: #000 !important;
}
/* .evumGo {
  background-color: #161522 !important;
} */
.hsqAaa {
  display: inline !important;
}
.iONwHy {
  width: unset !important;
}
.gcQKnf {
  fill: #fff !important;
}
.jJOcej {
  fill: #fff !important;
}
.iZJBPy,
.jWkMFN,
.gTGzfO {
  fill: #1263f1 !important;
}
.jRNEBu,
.fwjcqd {
  color: #fff !important;
}
.eSvlCC,
.gcuAnX,
.fUsIex,
.VUrNH {
  color: #000 !important;
  background-color: #e5e7e7 !important;
}
.JTniw,
.bsLwMN {
  background-color: transparent !important;
}
.JTniw,
.bsLwMN {
  padding: 0px 30px 0px 0px !important;
  /* margin-top: 5px !important; */
}
.dMyrsm {
  background-color: transparent !important;
}
.kChkRq {
  background-color: transparent !important;
}
.jWkMFN {
  fill: #fff !important;
}

.hufIwr {
  fill: #fff !important;
}
.jJOcej {
  /* color: #fff !important; */
  background-color: #e5e7e7 !important;
}
.bsLwMN {
  background-color: transparent !important;
}
.gEUBpy {
  background-color: transparent !important;
}
.jjEZxv {
  background-color: transparent !important;
}
.cacumS {
  background-color: transparent !important;
}
.eUVghC {
  background-color: transparent !important;
}
.jvEWoM {
  color: #fff !important;
}
.kvjDUB {
  color: #fff !important;
}
.kofeUK {
  color: #fff !important;
}
.dqmfMZ {
  color: #fff !important;
}
.gfaeWj {
  fill: #fff !important;
}

@media (max-width: 970px) {
  .dMyrsm {
    background-color: #171798 !important ;
  }
  .kChkRq {
    background-color: #171798 !important;
  }
}

@media (max-width: 480px) {
  .dMyrsm {
    background-color: #171798 !important;
  }
  .kChkRq {
    background-color: #171798 !important;
  }
}
@media (max-width: 768px) {
  .dMyrsm {
    background-color: #171798 !important;
  }
  .kChkRq {
    background-color: #171798 !important;
  }
}
.dnbNHl,
.imefRD {
  background: transparent !important;
}
.btnSwapNonActive,
.btnSwapNonActive:hover,
.btnLiquidityNonActive,
.btnLiquidityNonActive:hover {
  background: transparent !important;
  color: #fff !important;
  border: 0px;
  box-shadow: none !important;
  opacity: 1 !important;
}
.btnSwap:active,
.btnSwap:visited,
.btnLiquidity:active,
.btnLiquidity:visited {
  background: #27212b !important;
  color: white !important;
  border-radius: 16px !important;
  padding: 4px 19px !important;
  opacity: 1 !important;
}
.jzgrgs,
.bKuZXg {
  background-color: #fff !important;
  color: black !important;
}
.sc-fiKUUL h2,
.sc-fiKUUL div {
  color: black !important;
}
.gcQKnf,
.hufIwr {
  fill: #1263f1 !important;
}
.sc-gsTCUz {
  color: rgb(112, 141, 183) !important;
}
.fbovLQ,
.isnKzR {
  background-color: #fff !important;
  box-shadow: none !important;
  border: 1px solid #e5e7e7;
}
.hSFnST,
.iZlugh,
.fqDZcL {
  color: black !important;
}
.hjKPmy,
.CXMyy,
.eLDzjK {
  fill: black !important;
}
.hGkMvb {
  color: #fff !important;
}
.fsSeeb,
.gEMbSb {
  color: black !important;
}
.bTDxgI {
  background-color: #1263f1 !important;
}
.joKvYL,
.kWqKKK,
.kIJjpa {
  background-color: #1263f1 !important;
}
.jRNEBu,
.fwjcqd,
.jJOcej,
.IYzyH {
  background-color: transparent !important;
}
.jJOcej {
  color: #fff !important;
}
.token-amount-input::placeholder {
  color: black !important;
}
.fVzdOE {
  background-color: #171798 !important;
  color: #fff !important;
}
.gcuAnX {
  /* background-color: #e5e7e7 !important; */

  color: #000 !important;
}
.evUAka {
  background-color: #fff !important;
  color: #000 !important;
}
.hyBudw {
  background-color: #fff !important;
  color: #fff !important;
}
.btnAddLiqidity {
  background-color: #1263f1 !important;
  color: #fff !important;
}
.iCBgbH,
.iGeHqK {
  background-color: #1263f1 !important;
}
.iGeHqK {
  fill: #fff;
}
.hJLzvk,
.Cmsme {
  background: transparent !important;
}
.emvnVi,
.bQrGOq,
.dpsoee {
  color: rgb(7, 22, 45) !important;
}
.hGwVBF {
  background-color: #27212b !important;
  box-shadow: none !important;
  opacity: 1 !important;
}

/* .PZmzo,
.kOVBQR {
  background-color: #1263f1 !important;
  box-shadow: none !important;
  opacity: 1 !important;
} */
.hGwVBF:hover {
  background-color: #27212b !important;
  box-shadow: none !important;
  opacity: 0.85 !important;
}
/* .PZmzo:hover,
.kOVBQR:hover {
  background-color: rgb(18, 99, 241);
  box-shadow: none !important;
  opacity: 0.85 !important;
} */
.eIbyFk,
.fMoIlI,
.hrEUwY,
.kzkmZo {
  color: #000 !important;
}
.hiRMEQ,
.leKiKm,
.fZeXOz,
.jGckDC,
.itigIp,
.cJnpLQ,
.BdYgq {
  background-color: #e5e7e7 !important;
  border: 1px solid #e5e7e7 !important;
  color: #000 !important;
  box-shadow: none !important;
}
.hiRMEQ::placeholder,
.fZeXOz::placeholder,
.jGckDC::placeholder {
  color: #000 !important;
}
/* .leKiKm {
  background-color: #e5e7e7 !important;
  color: #000 !important;
  border: 1px solid #e5e7e7 !important;
} */
.txtColorBlack {
  color: #fff !important;
}
.btnBlack {
  background: #000 !important;
}
.dBgqSY,
.kcqjcQ,
.dZNSBp,
.dZNSBp,
.JCafF,
.cFaqJ,
.fKnxHN {
  background-color: #e5e7e7 !important;
  color: #000 !important;
}
.dBgqSY:hover,
.kcqjcQ:hover,
.dZNSBp:hover,
.dZNSBp:hover,
.fKnxHN:hover {
  background-color: rgb(215 202 236) !important;
  color: #000 !important;
  opacity: 1 !important;
}
.eWzewY,
.eXpmsV,
.jvEWoM,
.jnleWd,
.kvjDUB {
  color: #000 !important;
}
.eyTOQi,
.ktYTAy {
  fill: #000 !important;
}
.bkvVJF,
.bNeaU {
  background-color: #fff !important;
  opacity: 1 !important;
}
.efbwOe,
.LeCWm {
  color: #738fb8 !important;
}
.iGKnqJ,
.icyjVL,
.bCLZBw:hover,
.ilrUOc:hover,
.bCLZBw:hover,
.hSCCHK:hover,
.IahEH:hover,
.fqPRzO:hover,
.ilDUPL:hover,
.djnXaA:hover,
.eIaIqp:hover,
.gEMbSb:hover,
.cNGgVS:hover,
.bCLZBw:hover .fsSeeb,
.ilrUOc:hover .hGkMvb,
.cNGgVS:hover .hGkMvb,
.bCLZBw:hover .gEMbSb,
.hSCCHK:hover .gEMbSb,
.gEMbSb .hSCCHK:hover .fsSeeb {
  background-color: #e5e7e7 !important;
}
.eIaIqp:focus,
.gEMbSb:focus,
.IahEH:focus {
  background-color: #e5e7e7 !important;
}
.farm_serv_box {
  background: #0b3d4d !important;
  padding: 22px !important;
  border-radius: 30px !important;
}
/* .farm_content p {
  color: #000 !important;
} */
.harvest {
  background-color: #fff !important;
  color: #000 !important;
}
.harvest:hover {
  background-color: #071731 !important;
  border: 1px solid #e5e7e7 !important;
  color: #fff !important;
}
.farm_input input {
  background-color: #fff !important;
  color: #000 !important;
}
.farm_submit_btn button {
  background-color: #fff !important;
  color: #000 !important;
  background-image: none !important;
}
.farm_submit_btn button:hover {
  background-color: rgb(215 202 236) !important;
}

.farm_usd_set p {
  color: #000 !important;
}
.ule_imgset {
  color: #000 !important;
}
.qtpfC:hover,
.jSNiHo:hover,
.evqhkY:hover,
.jmcbFC:hover {
  background: #1c3254 !important;
  /* color: #749BD8; */
}
.jSNiHo:active,
.jmcbFC:active {
  box-shadow: inset 4px 0px 0px #272674 !important;
}
.evqhkY:active,
.jmcbFC:active {
  background-color: transparent !important;
}
.evqhkY:focus {
  background-color: transparent !important;
}
.jmcbFC,
.gBGBRU,
.evqhkY,
.kWYeBS {
  background-color: transparent !important;
  box-shadow: none !important;
}

/* .question {
  color: #000 !important;
  background-color: rgb(215 202 236) !important;
} */
.cwbBLc,
.iGqAKA {
  background-color: rgb(112, 141, 183) !important;
}
.tableWalletAddress {
  border: 1px solid #fff;
  padding: 10px 20px !important;
  border-radius: 15px;
}
.farmHeadings {
  font-size: 17px;
  font-weight: 500;
}
.farmHistory {
  font-size: 20px;
  font-weight: 600;
}
.staking_price .farm_price span {
  font-weight: 100;
}
.staking_price h2 {
  font-weight: 100;
}
.eSvlCC:hover,
.gcuAnX:hover,
.fUsIex:hover,
.VUrNH:hover {
  background-color: #071731 !important;
  opacity: 1 !important;
  color: #fff !important;
}
.gQUrCu,
.gQUrCu:hover,
.hSTWmr,
.hSTWmr:hover,
.itigIp,
.cJnpLQ,
.BdYgq,
.cJnpLQ:hover,
.itigIp:hover,
.BdYgq:hover {
  background-color: #e5e7e7 !important;
  color: #000 !important;
}
.dMyrsm,
.jjEZxv,
.kChkRq {
  background-color: #102648 !important;
}
/* .cjuMmG {
  margin: 0px 20px !important ;
} */
.jeAreS,
.iYAzYL {
  margin-top: 10px !important;
}
.kdxFnu,
.cWctTA,
.geAhhC {
  margin: 10px 20px !important ;
  padding: 20px 40px 0px 0px !important;
}
.huihyY,
.foiiQF {
  width: 50px !important;
  margin: 10px 0px !important;
}
.desktop-icon {
  display: none !important;
}
.foiiQF {
  width: 50px !important;
  margin: 10px 0px !important;
}
@media screen and (min-width: 480px) {
  .kCznXV,
  .fVTnYc {
    background-size: auto !important;
  }
}
.bzzZRT,
.dZWQlv {
  background-color: #102648 !important;
}
.hUqpFS,
.iHQmOP,
.eUyVkd,
.eWTblq,
.eUyVkd,
.jibsak,
.eRXwyG {
  background-color: #fff !important;
  color: #000 !important;
}
.hgQjmC,
.kVQlAV,
.jEqguw {
  background-color: #fff !important;
  color: #000 !important;
}
.mainHeadings {
  color: #fff !important;
  font-size: 1.8rem !important;
}
.para {
  font-size: 16px !important;
  line-height: 21.6px !important;
  color: #a0789c !important;
}
.feature b {
  font-size: 18px !important;
  color: #fff !important;
}
.feature span {
  line-height: 1.5rem !important;
  color: rgb(160, 120, 156) !important;
}
.check {
  margin-right: 1rem !important;
  width: 28px !important;
  height: 28px !important;
  color: #231f26 !important;
  background-color: #e35760 !important;
  padding: 5px !important;
  border-radius: 50% !important;
  fill: #231f26 !important;
}
.about-features__image {
  margin-top: 10px !important ;
}
.one {
  height: 75px !important;
  width: 75px !important;
  background-color: #e35760 !important;
  border-radius: 50% !important;
  font-size: 30px !important;
  display: table-cell;
  padding-top: 23px !important;
  padding-left: 30px !important;
  color: #fff !important;
}
.jzgrgs,
.gudCje {
  margin: 0px 0px 0px !important;
  padding: 1rem !important;
  background: rgb(54 41 59 / 83%) !important;
  border: 1px solid #ffffff1c !important;
  border-radius: 0px 0px 10px 10px !important;
  /* box-shadow: 0px 0px 0px rgb(97 96 98 / 51%), inset -2px -2px 6px rgb(0 0 0 / 34%) !important; */
}
.gudCje {
  max-width: 436px !important;
}
.gIGjqg,
.ivsIpR {
  border-radius: 9px !important;
  background-color: #27212b !important;
  border: 1px solid #27212b !important;
  padding: 1px 1px !important;
  min-height: 1px !important;
  margin: 0px 0px !important;
}
.wallet_btn button {
  width: 100% !important;
  color: #fff !important;
  box-shadow: rgb(14 14 44 / 40%) 0px -1px 0px 0px inset !important;
  border-radius: 10px !important;
  padding: 15px 0 !important;
  font-size: 16px !important;
}
.bwtgbS,
.bQrGOq {
  color: #fff !important;
}
.joKvYL,
.btnAddLiqidity,
.fVzdOE,
.byBSzz,
.kWqKKK,
.cSCyTG,
.fUsIex {
  background: transparent !important;
  border: 1px solid #e35760 !important;
  color: #e35760 !important;
}
.joKvYL:not(:disabled):not(.disabled):active,
.show > .joKvYL.dropdown-toggle {
  color: #fff !important;
  background-color: #1e7e34 !important;
  border-color: #1c7430 !important;
}

.fMoIlI,
.emvnVi,
.fsSeeb,
.hjKPmy,
.bQrGOq,
.jWkMFN {
  color: #fff !important;
}
.gcQKnf,
.jrbdrY,
.iZJBPy,
.eyTOQi,
.hufIwr {
  fill: #fff !important;
}
.jrbdrY,
.hrEUwY,
.kzkmZo,
.hftUnE {
  color: #fff !important;
}
.eqaJbi{
  display: block !important;

}

.eqaJbi,
.fmSnDX {
  background-color: #231f26 !important;
  background-repeat: no-repeat;
  background-position: center 0px, 10% 230px, 90% 230px !important;
  min-height: 80vh !important;
  
}
.llvHzJ,
.gmzLtL {
  background-color: #231f26 !important;
}
.sc-edoZmE,
.eIbyFk,
.dmcAqs,
.jFIScR {
  color: #fff !important;
}
.fQYTzb,
.hLcrRa:hover,
.fezWpk,
.fezWpk:hover,
.jVEiJX,
.jVEiJX:hover,
.jVEiJX,
.jVEiJX:hover {
  background-color: #27212b !important;
  border: 1px solid #27212b !important;
}
.hhFJlm,
.evumGo {
  background-color: #3e0064 !important;
  border: 1px solid #3e0064 !important;
}
.eUyVkd,
.eWTblq {
  color: #fff !important;
  background-color: #3e0064 !important;
  border: 1px solid #3e0064 !important;
}
.sc-jvfriV,
.sc-bXDlPE {
  color: #fff !important;
}
.bmokzn,
.sc-jmhFOf,
.dceZHA,
.lfVNPu {
  background-color: #27212b !important;
  border: 1px solid #27212b !important;
}
.fIufSJ,
.cgpajZ {
  margin-bottom: 0px !important;
  max-width: 436px !important;
  display: flex !important;
  justify-content: center !important;
  border-radius: 7px 7px 0px 0px !important;
  border: 1px solid #ffffff1c !important;
  border-bottom: none !important;
}
.span_fa {
  background: rgb(0, 182, 122) !important;
  padding: 5px !important;
}
.stars {
  color: rgb(0, 182, 122);
}
.cpBUyR {
  border-top: none !important;
  min-width: 350px !important;
}
.fAQlkA {
  border-top: 1px solid #e9eaeb !important;
}

.hBQwlD {
  width: 100%;
  padding-top: 16px;
  flex-direction: column;
  gap: 16px;
  padding: 1rem !important;
  background: rgb(54 41 59 / 83%);
  border: 1px solid #ffffff1c;
  border-radius: 7px;
  box-shadow: 0px 0px 0px rgb(97 96 98 / 51%), inset -2px -2px 6px rgb(0 0 0 / 34%);
}
.eRKwjz {
  display: grid;
  gap: 1em;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 24px;
  grid-template-columns: 20px 3fr repeat(4, 1fr);
}
.bjSNjt {
  height: 1px;
  background-color: rgb(231, 227, 235);
  width: 100%;
}
.ktvYZw {
  text-decoration: none;
}
.jaCbPP {
  color: rgb(118, 69, 217);
  font-weight: 600;
  line-height: 1.5;
  font-size: 12px;
}
.eZPwOe {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
  background-color: rgb(250, 249, 250);
  color: rgb(40, 13, 95);
}
.bHahRd {
  display: flex;
  overflow: auto;
}
.cdKJAR {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.eRKwjz {
  display: grid;
  gap: 1em;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px 24px;
  grid-template-columns: 20px 3fr repeat(4, 1fr);
}
.eDwlOR {
  color: rgb(255 255 255);
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}
.jCxgaI {
  color: #fff;
  font-weight: 400;
  line-height: 1.5;
  margin-left: 8px;
  font-size: 16px;
}
.hkhVxk {
  color: rgb(118, 69, 217);
  font-weight: 600;
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 12px;
}
.hgBcOl {
  color: rgb(49, 208, 170);
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}
.igYoFk {
  color: rgb(237, 75, 158);
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;
}
.eiIMRG {
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-top: 0.2em;
  margin-bottom: 1.2em;
}
.nlwrS {
  color: rgb(31, 199, 212) !important;
  padding: 0px 20px;
}
.gMJZJo {
  display: grid;
  gap: 1em;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: 20px 3.5fr repeat(5, 1fr);
  padding: 0px 24px;
}
.hMgNAU {
  display: grid;
  gap: 1em;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: 2fr 0.8fr repeat(4, 1fr);
  padding: 0px 24px;
}
.iTOsRj {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  box-shadow: rgb(0 0 0 / 8%) 0px 6px 10px;
  background-color: rgb(250, 249, 250);
  color: rgb(40, 13, 95);
}
.jAizyy {
  margin-bottom: 16px;
}
.dmNwWr,
.kvAkhe {
  -webkit-box-align: center;
  align-items: center;
  margin-right: 16px;
  margin-top: 8px;
  cursor: pointer;
  display: flex !important;
}
.bHahRd {
  display: flex !important;
}
.overviewMain-h1 {
  font-size: 2.5rem !important;
  margin-bottom: 0.5rem;
}
.overviewMain-h2 {
  font-size: 2rem !important;
  margin-bottom: 0.5rem;
}
.hMgNAU {
  display: flex;
  gap: 1em;
  -webkit-box-align: center;
  align-items: center;
  grid-template-columns: 2fr 0.8fr repeat(4, 1fr);
  padding: 0px 24px;
  -webkit-box-align: center;
}
.jYknmU {
  display: flex !important;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
}
.cQIxoF {
  color: rgb(31, 199, 212);
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
}
.iUxOPc {
  align-self: center;
  fill: rgb(31, 199, 212);
  flex-shrink: 0;
  margin-left: 4px;
}
.hKxtfS {
  border-color: #ddd #f3f3f3;
  border-width: 8px;
  border-image: initial;
  border-radius: 5% !important;
  /* width: 20px; */
  height: 20px;
}
.eIuRFQ {
  width: 100% !important;
  flex: 1 1 0% !important;
  overflow: visible !important;
  height: auto !important;
}
.resize-triggers,
.resize-triggers > div,
.contract-trigger:before {
  position: unset !important;
}
.vnb2 {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: inherit;
  background: rgb(54 41 59 / 83%);
  border: 1px solid #ffffff1c;
  border-radius: 24px;
  padding: 15px;
  box-shadow: 0px 0px 0px rgb(97 96 98 / 51%), inset -2px -2px 6px rgb(0 0 0 / 34%);
}
.vnb {
  display: flex;
}
.bnb {
  font-size: 18px;
}
.hlDoPt {
  color: #fff;
  font-weight: 400;
  margin-right: 6px;
  font-size: 14px;
  line-height: 16px;
}
.gnpmdM {
  color: rgb(237, 75, 158) !important;
  font-weight: 400;
  line-height: 1.5;
  font-size: 14px;
}
.ifuBaP {
  width: 100%;
  height: 100%;
  overflow: inherit;
  background: rgb(54 41 59 / 83%);
  border: 1px solid #ffffff1c;
  border-radius: 24px;
  padding: 30px;
  color: #fff;
  box-shadow: 0px 0px 0px rgb(97 96 98 / 51%), inset -2px -2px 6px rgb(0 0 0 / 34%);
}
/* .cacumS, */
.sc-gsxnyZ,
.kdxFnu,
.dMyrsm,
.fQMzPR,
.gEUBpy,
.kChkRq,
.CXMyy,
.sc-eLgOdN,
.sc-hlTvYk,
.liTBVH {
  display: none !important;
}
.navbar {
  z-index: 99 !important;
}
.jPfTeU[data-reach-dialog-content] {
  max-height: 70vh !important;
  min-height: 65vh !important;
  z-index: 9999 !important;
}
.sc-bdfBwQ {
  display: flex !important;
}
/* #e5e7e7!important */
