.accordion-button {
    background-color: rgb(35, 31, 38) !important;
    color: rgb(227, 87, 77) !important;
    font-size: 30px;
    padding: 20px !important;
    border-bottom: 10px !important;
}

.faq-content__topic {
    color: rgb(227, 87, 77) !important;
    font-size: 1.75rem !important;
    margin-bottom: 0.5rem !important;
    line-height: 1.7em !important;

}

.faq-content__text-answer {
    line-height: 1.7em !important;
}

.faq-content__title {
    font-size: 2rem !important;
}

.accordion {
    border-bottom: none;
    border: none !important;
}

.accordion-button::after {
    display: none;
}

.accordion-body {
    background-color: rgb(35, 31, 38) !important;
    color: white !important;
    font-size: 16px !important;
}

.accordion-item {
    /* color: var(--bs-accordion-color);
    background-color: var(--bs-accordion-bg); */
    border: none !important;
}

/* .break{
    font-size: 10px !important;
} */

@media screen and (max-width:700px) {
    .accordion-button {
        font-size: 15px;
    }
}


@media (min-width:700px) and (max-width:1200px) {
    .accordion-button {
        font-size: 21px;
    }
}

.list p {
    padding-bottom: 15px !important;
    line-height: 1.7em !important;
}